rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // *** auth ***
    function isAuthenticated() {
      return request.auth != null && request.auth.token.verified == true;
    }
    function isUserAuthenticated(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    function isAdminUser() {
      return isAuthenticated() && request.auth.token.admin == true;
    }

    // *** audit ***
    function isValidCreatedAt() {
      // TODO: create以外
      return request.method != 'create' || request.resource.data.createdAt == request.time;
    }
    function isValidUpdatedAt() {
      // TODO: create, update以外
      return !(request.method == 'create' || request.method == 'update') || request.resource.data.updatedAt == request.time;
    }
    function isValidCreatedBy() {
      // TODO: create以外
      return request.method != 'create' || request.resource.data.createdBy == request.auth.uid;
    }
    function isValidAudit() {
      return isValidCreatedAt() && isValidUpdatedAt() && isValidCreatedBy();
    }

    // *** rules ***
    allow read: if isAdminUser();
    allow write: if isAdminUser() && isValidAudit();

    match /contests/{contestId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && isValidAudit();
      allow update: if isAdminUser() && isValidAudit();
      allow delete: if isAdminUser();

      match /contestants/{userId} {
        allow read: if isAuthenticated();
        allow create: if isUserAuthenticated(userId) && isValidAudit();
        allow update: if isAdminUser() && isValidAudit();
        allow delete: if isAdminUser();
      }
    }
    match /tasks/{taskId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && isValidAudit();
      allow update: if isAdminUser() && isValidAudit();
      allow delete: if isAdminUser();
    }
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow create, update: if isUserAuthenticated(userId) && isValidAudit();
      allow delete: if isAdminUser();
    }
    match /registrationCodes/{userId} {
      allow read: if isAdminUser();
      allow create, update: if isAdminUser() && isValidAudit();
      allow delete: if isAdminUser();
    }
  }
}